{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test task</title>
    <link rel="stylesheet" href="{% static "bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

        <div class="col-md-offset-2 col-md-8">
            <h1 class="text-center">Form messages</h1>
                {% for c in content %}
                    <p class="well"><b>{{ c.name }}</b> {{ c.email }}</p>
                    <p>{{ c.phone }}</p>
                {% endfor %}

            <h2 class="text-center">Form</h2>
            <form method="post" id="form">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-default" type="submit" id="submit">OK</button>
            </form>
        </div>

        <script>
            $(document).ready(function() {
                function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                                var cookies = document.cookie.split(';');
                          for (var i = 0; i < cookies.length; i++) {
                               var cookie = jQuery.trim(cookies[i]);
                          if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                             }
                          }
                      }
                 return cookieValue;
                }

                $("#form").submit(function(e) {
                    e.preventDefault();
                    var csrftoken = getCookie('csrftoken');
                    var name = $('input[name=name]').val();
                    var email = $('input[name=email]').val();
                    var phone = $('input[name=phone]').val();
                    $.ajax({
                        url: '/',
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: csrftoken,
                            name: name,
                            email: email,
                            phone: phone
                        },
                        success: function () {
                            console.log('ok');
                            $('#form')[0].reset();
                        },
                        error: function () {
                            console.log('false');
                        }
                    });
                });
            });
        </script>

</body>
</html>
